.container {
  border: 2px solid red;
  margin: 0 auto;
  padding: 20px;

  > h1 {
    color: #f9f9f9;
    margin-bottom: 16px;
  }
}

.grid {
  display: grid;
  place-items: center;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  padding: 20px;
}

.gameCard {
  text-decoration: none;
}
