.container {
  border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  color: #fff;
}

.thumbnail {
  min-width: 380px;
}

.description {
  color: #fff;
  max-width: 400px;
  text-align: center;
}

.screenshots {
  width: 380px;
}
